.screen {
  width: 290px;
  height: 150px;
  background-color: #0c0c0c;
  display: flex;
  flex-direction: column;
  color: #FFF;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 40px;
  padding-right: 10px;
  border-top: 2px solid #262626;
}

.screen .historic {
  font-size: 16px;
}

.screen .value input {
  outline: none;
  border: none;
  color: #FFF;
  background-color: #0c0c0c;
  text-align: right;
  width: 100%;
}